@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

body, html {
     height: 100%;
     padding: 0;
     color: white;
     background-color: black;
     font-family: 'Old Standard TT', serif;
     line-height: 1.6;
}
#main {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
#title {
    text-align: center;
    margin-top: 7%;
    margin-bottom: 5%;
    margin-right: 5%;
}

#image {
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: 5%;
    width: 100%; 
    max-width: 763px;
    max-height: 739px;
}

h1, h3 {
    text-transform: uppercase;
    border: white;
}
h1 {
    font-size: 32pt;
}
h2 {
    font-size: 26pt;
}
h3 {
    font-size: 22pt;
}
p {
    font-size: 15pt;
}

#tribute-info {
    font-size: 17pt;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
 p, h3 {
    text-align: center;
    margin-left: 50px;
    margin-right: 100px;
    max-width: 500px;
}
div {
    margin-bottom: 70px;
}


.flex-left {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}
.flex-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.resize-img {
    size: auto;
    max-width: 250px;
    max-height: 500px;
    border-radius: 15px;
}
#tribute-link {
    text-align: center;
    color: white;
} 

@media (max-width: 1188px) {
    #main {
        margin-top: 1%;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column; 
    }    
    
    .flex-left, .flex-right {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
       
    }
   
    #img-div, #img-caption, #tribute-info {
        text-align: center;
      
    }
    #img-caption {
        display: flex;
        justify-content: center; 
    }
    .resize-img, p, h3 {
        margin: auto;
    }
    .resize-img {
        margin-bottom: 8%;
    }
}