@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Unica+One&display=swap');

body {
    text-align: center;
    font-family: 'Unica One', cursive;
    text-transform: uppercase;
    background-color: #ffe3de;
    color: #0a043c;
}
h1 {
    margin-top: 2%;
    
    
}
.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.cell {
    height: 15vh;
    width: 15vh;
    border: 2px solid #0a043c;
    font-size: 10vh;
    font-family: 'Nanum Pen Script', cursive;
    line-height: 15vh;
    background-color: #a3ddcb;
}
button {
    color: #0a043c;
    font-size: 17px;
}

/*
.box.x::before {
    content: 'X';
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/*
body {
    font-family: "Arial", sans-serif;
    text-align: center;
}
section {
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
} 