@import url('http://fonts.cdnfonts.com/css/market-deco');
/*
* {
    margin: 0;
}
.container {
    display: flex;
}
h1, h2, h3 {
    font-family: 'Market Deco', sans-serif;                    
}
#header {
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: space-between;
    border: 2px solid black;
    background: pink;
    color: #fff;
    width: 100%;
    
    z-index: 1;
}
ul {
    list-style: none;
}
#header-img {
    display: grid;
    grid-row: 2;
    justify-content: center;
    height: 50px;
}
.logo {
    height: 50px;
}
#nav-bar {
    display: grid;
    grid-row: 1;
    height: 50px;
}
#nav-bar li a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}
#nav-bar .menu li a:hover {
    background: pink;
}
#open-menu {
    height: 100px;
    cursor: pointer;
}
.menu, #close-menu {
    display: none;
    cursor: pointer;
}
#close-menu {
    height: 50px;
}
#features {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;

}

@media (min-width: 418px) {
    .container {
        display: block;
    }
    #header {
        display: grid;
        grid-template-columns: auto auto;
        border: 2px solid black;
    }

}
*/

body {
    margin: 0;
    background-color: #d1d3d9;
}
.container {
    display: grid;
    grid-template-rows: repeat(7, auto);
}
.items {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
h1, h2, h3, h4 {
    font-family: 'Market Deco', sans-serif;
    color: #3f413c;     

}
p {
    color: #3f413c;
}
button {
    color: #3f413c;
    background-color: rgb(201, 167, 188);
    border: none;
    height: 30px;
    border-radius: 5px;
}
#header {
    background: rgba(201, 167, 188, 1);
    color: blanchedalmond;
    position: fixed;
    margin-bottom: 500px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    z-index: 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: space-between;
}
#nav-bar {
    left: 10%;
    grid-column: 1;
    grid-row: 1;
}
.logo {
    border: 1px solid black;
    padding: 0;
    grid-column: 2;
}
#header-img {
    height: 50px;
    position: absolute;
}
#open-menu, #close-menu, button:hover {
    cursor: pointer;
}
#open-menu {
    justify-content: flex-start;
}
#close-menu, .menu {
    display: none;
    height: 30px;
    font-size: 16px;
}
#banner {
    display: flex;
    position: relative;
    background-image: url(./assets/banner-crop.jpg);
    background-size: cover;
    height: auto;
    width: 100%;
}
#banner-img {
    display: absolute;
    max-width: 100%;
    height: auto;
    border:0;
    z-index: 5;
}
#about-us {
    background-color: #bebab7;
}
a, li {
    text-decoration: none;
    list-style: none;
}
.pics {
    max-width: 250px;
    max-height: 500px;
    border-radius: 5px;

}
@media (min-width: 768px) {
    #header {
        display: grid;

    }
    #open-menu, #close-menu {
        display: none;
    }
    .logo {

    }
    .menu {
        display: grid;
        justify-content: space-around;
        position: absolute;
        grid-row: 1;
        grid-column: 2;
    }
    .nav-links {
        display: flex;
        justify-content: space-around;
    }
}