@import url('http://fonts.cdnfonts.com/css/market-deco');
* {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}
.container {
    display: flex;
    flex-direction: column;
}
h1, h2, h3 {
    font-family: 'Market Deco', sans-serif;                    
}
#header {
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: space-between;
    border: 2px solid black;
    background: #000;
    color: #fff;
    width: 100%;
}
ul {
    list-style: none;
}
#header-img {
    display: grid;
    grid-row: 2;
    justify-content: center;
}
#nav-bar {
    display: grid;
    grid-row: 1;
}
/* NAV BAR */
#nav-bar li a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}
#nav-bar .menu li a:hover {
    background: pink;
}
#nav-bar #open-menu {
    font-size: 2rem;
    cursor: pointer;
}
.menu, #close-menu {
    display: none;
    cursor: pointer;
}
/* END OF NAV BAR */

#features {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;

}
/* DESKTOP MODE */
@media (min-width: 418px) {
    .container {
        display: block;
    }
    #header {
        display: grid;
        grid-template-columns: auto auto;
        border: 2px solid black;
    }

}
